@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  border-top: 1px solid #e0e0e0;
  background-color: #a9a9a9;
}
.app-content{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}