.food-item {
    width: 100%;
    max-width: 300px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
    transition: transform 0.2s ease-in-out;
    background: white;
    overflow: hidden;
}

.food-item:hover {
    transform: scale(1.05);
}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.food-item-info {
    padding: 20px;
    text-align: center;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 18px;
    font-weight: 600;
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-desc {
    font-size: 14px;
    color: #676767;
    min-height: 40px;
}

.food-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
}

.food-item-counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    right: 15px;
    gap: 10px;
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
    .food-item {
        max-width: 250px;
    }

    .food-item-name-rating p {
        font-size: 16px;
    }

    .food-item-price {
        font-size: 18px;
    }

    .food-item-desc {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .food-item {
        max-width: 100%;
        padding: 10px;
    }

    .food-item-name-rating p {
        font-size: 15px;
    }

    .food-item-price {
        font-size: 16px;
    }

    .food-item-desc {
        font-size: 12px;
    }

    .food-item-counter {
        gap: 5px;
        padding: 3px 7px;
    }

    .food-item-img-container .add {
        width: 30px;
    }

    .food-item-name-rating img {
        width: 50px;
    }
}

@media (max-width: 400px) {
    .food-item {
        padding: 8px;
    }

    .food-item-name-rating p {
        font-size: 14px;
    }

    .food-item-price {
        font-size: 15px;
    }

    .food-item-desc {
        font-size: 11px;
    }

    .food-item-img-container .add {
        width: 28px;
    }
}
