.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-content-center h2,
.footer-content-right h2 {
    color: white;
}

.footer-social-icons img {
    width: 40px;
    margin-right: 15px;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: green;
    border: none;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .footer-content {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 30px;
    }

    .footer-content-left,
    .footer-content-center,
    .footer-content-right {
        align-items: center;
    }

    .footer-social-icons img {
        width: 35px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 20px 5vw;
    }

    .footer-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .footer-content-left,
    .footer-content-center,
    .footer-content-right {
        text-align: center;
        align-items: center;
    }

    .footer-social-icons img {
        width: 30px;
        margin-right: 10px;
    }
}
