.cart {
    margin-top: 100px;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cart-items-title, .cart-items-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    font-size: max(1vw, 12px);
}

.cart-items-title {
    font-weight: bold;
    color: gray;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    font-size: max(1vw, 12px);
}

.cart-items-item {
    padding: 10px 0px;
    color: black;
}

.cart-items-item img {
    width: 50px;
}

.cart-items-item .cross {
    cursor: pointer;
    font-weight: bold;
    color: red;
    font-size: 18px;
}

.cart hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
}

.cart-total button {
    bottom: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-total hr {
    margin: 10px 0px;
}

.cart-promocode {
    flex: 1;
}

.cart-promocode p {
    color: #555;
}

.cart-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode-input button {
    width: max(10vw, 150px);
    padding: 12px 5px;
    border: none;
    color: white;
    border-radius: 4px;
    background-color: black;
}

.cart-promocode-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}





@media (max-width: 750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
}
